@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F2C7AE;
    margin-top: 50px;
}

.about h3 {
    color: white;
}

.aboutContent {
    display: flex;
    flex-direction: row;
}

.text {
    align-items: flex-start;
    background: #F2C7AE;
    color: white;
    font-family: 'Poppins';
    font-size: 20px;
}

.aboutImage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aboutImage img {
    height: 350px;
}
